* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/img/light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.form-control {
  height: 80px;
  width: 150px;
  border-radius: 7px;
}
form {
  border: 1px solid red;
}
