@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: ghostwhite;
  font-family: "Open Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

/* global card style */
.root {
  height: 100%;
  width: 300px;
  color: #fff;
  margin: 20px;
}
/* card style */

.posts-zone {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid purple;
}

@media only screen and (max-width: 768px) {
  body {
    min-height: 100vh;
  }
}
