@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: ghostwhite;
  font-family: "Open Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

/* global card style */
.root {
  height: 100%;
  width: 100%;
  color: var(--txt-dark);
  background: var(--bg-white);
  border-radius: 5px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.05);
}
.root:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
/* card style */
.container {
  min-height: 73vh;
}
.posts-zone {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2%;
  padding: 40px;
}
.article-img img {
  width: 100%;
  height: 180px;
  background: var(--primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.article-img img:hover {
  background: var(--secondary);
  transition: all ease-in 0.3s;
  cursor: pointer;
}
.title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  height: 80px;
  padding: 0 10px;
}
.details {
  padding: 12px 10px;
  height: 150px;
}
